body{
    margin: 0;
    text-align:center;
     font-family: 'Merriweather', serif;
 
}

h1{
    color:rgb(9, 136, 240) ;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: rgb(44, 179, 212) ;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
}
h3{
    color: rgb(54, 165, 230);
    font-family: 'Montserrat', sans-serif;
}

    
.top-container{
    background-color: rgb(117, 243, 243); 
    position: relative;
    padding-top: 100px;

}

.middle-container{
    
    
}
.bottom-container{
     
}
.pro{
    text-decoration: underline;

}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}

  
    


   
  

